.box-stretched-25 {
  margin: 0;
  padding: 0;
  height: 25%;
}

button.width-all-height-all {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div.width-all-height-all {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0px;
}
