<!--
<div class="p-grid nested-grid">
  <div class="p-col-4">
    <div class="box box-stretched" style="background-color: #CCFF33">4</div>
    <div class="box box-stretched" style="background-color: #CCCC66">4</div>
    <div class="box box-stretched" style="background-color: #CC9999">4</div>
    <div class="box box-stretched" style="background-color: #CCFFFF">4</div>
  </div>
  <div class="p-col-8">
    <div class="p-grid">
      <div class="p-col-6">
        <div class="box">6</div>
      </div>
      <div class="p-col-6">
        <div class="box">6</div>
      </div>
      <div class="p-col-12">
        <div class="box">12</div>
      </div>
      <div class="p-col-12">
        <div class="box">12</div>
      </div>
      <div class="p-col-12">
        <div class="box">12</div>
      </div>
      <div class="p-col-12">
        <div class="box">12</div>
      </div>
    </div>
  </div>

</div>
-->

<hr>

<div class="p-grid nested-grid" style="background-color: burlywood">
  <div class="p-col-3" style="background-color: aliceblue">
    <div class="p-grid" style="margin: 0; height: 100%">
      <div class="p-col-4" ><p-button label="7" ></p-button></div>
      <div class="p-col-4" ><p-button label="8" ></p-button></div>
      <div class="p-col-4" ><p-button label="9" ></p-button></div>
      <div class="p-col-4" ><p-button label="4" ></p-button></div>
      <div class="p-col-4" ><p-button label="5" ></p-button></div>
      <div class="p-col-4" ><p-button label="6" ></p-button></div>
      <div class="p-col-4" ><p-button label="1" ></p-button></div>
      <div class="p-col-4" ><p-button label="2" ></p-button></div>
      <div class="p-col-4" ><p-button label="3" ></p-button></div>
      <div class="p-col-4" ><p-button label="0" ></p-button></div>
      <div class="p-col-4" ><p-button label="." ></p-button></div>
      <div class="p-col-4"><p-button label="=" ></p-button></div>



    </div>
    <div class="p-grid" style="background-color: cyan">
    </div>
  </div>
  <div class="p-col-1" style="background-color: blanchedalmond">
    <div class="p-grid" style="margin: 0; height: 100%">
      <div class="p-col-12"><p-button label="Del" ></p-button></div>
      <div class="p-col-12"><p-button label="/" ></p-button></div>
      <div class="p-col-12"><p-button label="*" ></p-button></div>
      <div class="p-col-12"><p-button label="+" ></p-button></div>
      <div class="p-col-12"><p-button label="-" ></p-button></div>
    </div>
  </div>
<!--  <div class="p-col-3" style="background-color: coral">
    <div class="p-grid" style="background-color: cyan">

      <div class="p-col-4"><p-button label="7" ></p-button></div>
      <div class="p-col-4"><p-button label="8" ></p-button></div>
      <div class="p-col-4"><p-button label="9" ></p-button></div>
      <div class="p-col-4"><p-button label="4" ></p-button></div>
      <div class="p-col-4"><p-button label="5" ></p-button></div>
      <div class="p-col-4"><p-button label="6" ></p-button></div>
      <div class="p-col-4"><p-button label="1" ></p-button></div>
      <div class="p-col-4"><p-button label="2" ></p-button></div>
      <div class="p-col-4"><p-button label="3" ></p-button></div>
      <div class="p-col-4"><p-button label="0" ></p-button></div>
      <div class="p-col-4"><p-button label="." ></p-button></div>
      <div class="p-col-4"><p-button label="=" ></p-button></div>
    </div>
  </div>
  <div class="p-col-1">
    <div class="box box-stretched">Test2</div>
  </div>-->
</div>
