<div class="p-grid" style="width: 450px; border-style: solid; border-color: #000000;">
  <!-- Display -->
  <div class="p-col-12">
    {{expression}}
  </div>

  <!-- Button Group 1 -->
  <div class="p-col-9" style="background-color: #d8f3ff">
    <div class="box-stretched-25">
      <div class="p-grid" style="margin: 0; height: 100%">
        <div class="p-col" style="height: 100%">
          <div class="width-all-height-all">
            <button pButton type="button" label="7" class="width-all-height-all" (click)="btnPressed1(7)">
            </button>
          </div>
        </div>
        <div class="p-col" style="height: 100%">
          <div class="width-all-height-all">
            <button pButton type="button" label="8" class="width-all-height-all" (click)="btnPressed1(8)">
            </button>
          </div>
        </div>
        <div class="p-col" style="height: 100%">
          <div class="width-all-height-all">
            <button pButton type="button" label="9" class="width-all-height-all" (click)="btnPressed1(9)">
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="box-stretched-25">
      <div class="p-grid" style="margin: 0; height: 100%">
        <div class="p-col" style="height: 100%">
          <div class="width-all-height-all">
            <button pButton type="button" label="4" class="width-all-height-all" (click)="btnPressed1(4)">
            </button>
          </div>
        </div>
        <div class="p-col" style="height: 100%">
          <div class="width-all-height-all">
            <button pButton type="button" label="5" class="width-all-height-all" (click)="btnPressed1(5)">
            </button>
          </div>
        </div>
        <div class="p-col" style="height: 100%">
          <div class="width-all-height-all">
            <button pButton type="button" label="6" class="width-all-height-all" (click)="btnPressed1(6)">
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="box-stretched-25">
      <div class="p-grid" style="margin: 0; height: 100%">
        <div class="p-col" style="height: 100%">
          <div class="width-all-height-all">
            <button pButton type="button" label="1" class="width-all-height-all" (click)="btnPressed1(1)">
            </button>
          </div>
        </div>
        <div class="p-col" style="height: 100%">
          <div class="width-all-height-all">
            <button pButton type="button" label="2" class="width-all-height-all" (click)="btnPressed1(2)">
            </button>
          </div>
        </div>
        <div class="p-col" style="height: 100%">
          <div class="width-all-height-all">
            <button pButton type="button" label="3" class="width-all-height-all" (click)="btnPressed1(3)">
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="box-stretched-25">
      <div class="p-grid" style="margin: 0; height: 100%">
        <div class="p-col" style="height: 100%">
          <div class="width-all-height-all">
            <button pButton type="button" label="0" class="width-all-height-all" (click)="btnPressed1(0)">
            </button>
          </div>
        </div>
        <div class="p-col" style="height: 100%">
          <div class="width-all-height-all">
            <button pButton type="button" label="." class="width-all-height-all" (click)="btnPressed1('.')">
            </button>
          </div>
        </div>
        <div class="p-col" style="height: 100%">
          <div class="width-all-height-all">
            <button pButton type="button" label="=" class="width-all-height-all" (click)="evaluate()">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Button Group 2 -->
  <div class="p-col-3" style="background-color: #c3ecff">
    <div style="padding: 0.5em;">
      <button pButton type="button" label="Del" style="width: 100%;" (click)="btnDeletePressed()"></button>
    </div>
    <div style="padding: 0.5em;">
      <button pButton type="button" label="/" style="width: 100%;" (click)="btnPressed2('/')"></button>
    </div>
    <div style="padding: 0.5em;">
      <button pButton type="button" label="*" style="width: 100%;" (click)="btnPressed2('*')"></button>
    </div>
    <div style="padding: 0.5em;">
      <button pButton type="button" label="-" style="width: 100%;" (click)="btnPressed2('-')"></button>
    </div>
    <div style="padding: 0.5em;">
      <button pButton type="button" label="+" style="width: 100%;" (click)="btnPressed2('+')"></button>
    </div>
  </div>
</div>
